# SPDX-FileCopyrightText: <text>Copyright 2024-2026 Arm Limited and/or
# its affiliates <open-source-office@arm.com></text>
# SPDX-License-Identifier: Apache-2.0
*.egg-info
*.pyc
*~
.eggs/
\.eggs
__pycache__
build/
dist/
output/
.vscode
.idea
*.html
coverage.json
.coverage*
coverage_html/
venv/
venv-default/
venv-test/
logs/
.slangtorch_cache/
*.lock
tensorboard-logs/*
checkpoints/*
.cache/*
*.pt
!tests/usecases/nss/unit/data/nss_v1_golden_values/*.pt
*.safetensors

# These files are generated if the user runs `init`
config*.json
schema_config.json

# We do want to keep the default config file in source control
!src/ng_model_gym/usecases/nss/configs/schema_config.json